<div class="project-preview-container">
    <img class="project-preview-photo" src="../../assets/current-project-1.jpg"/>
    

    <div class="project-preview-detail">
        <div class="project-preview-item project-preview-heading">
            Reception, Temple Tree Retreat
        </div>

        <div class="project-preview-item project-preview-timestamp">
            Aug '19 - Mar '20
        </div>

        <div class="project-preview-item project-preview-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </div>
    </div>
</div>