<div class="project-preview-container">
    <div class="project-preview-photo-container">
        <img class="project-preview-photo" src="../../assets/current-project-1.jpg"/>
    </div>

    <div class="project-preview-detail">
        <div class="project-preview-item project-preview-heading">
            Reception at Lemon Tree Resorts.
        </div>

        <div class="project-preview-item project-preview-timestamp">
            Aug '19 - Mar '20
        </div>

        <div class="project-preview-item project-preview-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </div>

        <div class="project-preview-item project-preview-link">
            Read more.
        </div>
    </div>
</div>