.project-preview-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 50vh;
    width: auto;

    margin: 2% 10%;

}

.project-preview-photo-container {
    width: 45%;
    height: 100%;
}

.project-preview-photo {
    width: 100%;
    height: 100%;
}

.project-preview-detail {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-items: baseline;

    width: 45%;
    height: 50%;

    color: darkslategrey;
}

.project-preview-item{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.project-preview-heading {
    font-size: 25px;
    font-weight: 500;
}

.project-preview-timestamp {
    font-style: italic;
}

.project-preview-description {
    
}

.project-preview-link {
    font-style: italic;
}