.blogpost {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px 20px;

    width: auto;
    height: 100vh;
}

.blogpost-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 40%;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.blogpost-header {
    width: 100%;
    padding: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.blogpost-description {
    width: 100%;
    padding: 20px;
}

.blogpost-photo {
    display: block;
    
    height: 100%;
    width: 40%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
