<div>
    <div v-if="isDefaultLayout" class="blogpost">
        <div class="blogpost-content">
            <div class="blogpost-description" :style="{ textAlign: 'right' }">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>

        <div class="line-separtaion"></div>

        <div class="blogpost-photo" :style="{ backgroundImage: `url(${getImagePath()})` }">
            <div class="blogpost-photo-overlay">
                <span class="blogpost-photo-caption"> A cross ventilation implementation. </span>
            </div>
        </div>
    </div>
    <div v-else class="blogpost">
        <div class="blogpost-photo" :style="{ backgroundImage: `url(${getImagePath()})` }"> 
            <div class="blogpost-photo-overlay">
                <span class="blogpost-photo-caption"> Use of handmade designs. </span>
            </div>
        </div>

        <div class="line-separtaion"></div>

        <div class="blogpost-content">
            <div class="blogpost-description">In the last several years, there’s been a significant shift of focus in building design that has emphasized human wellness and betterment. Those core concepts are the foundation of experiential design, a new and exciting movement that reimagines what good design looks like.</div>
        </div>
    </div>
</div>