.blogpost {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 20px 20px;

    width: auto;
    height: 70vh;
}

.blogpost-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 100%;
    width: 33%;

    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.blogpost-header {
    align-self: flex-end;

    width: 100%;
    padding: 20px;

    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.blogpost-description {
    align-self: flex-start;

    width: 100%;
    padding: 20px;
}

.blogpost-photo {
    display: block;
    
    height: 80%;
    width: 43.24%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Responsive Code */
@media only screen and (max-width: 600px) {
    .blogpost-content {
        width: 100vw;
        height: 50%;
        order: 1;
    }

    .blogpost-photo {
        width: 100%;
        height: 50%;
        order: 2;
    }
}