.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 50px 80px 20px 0px;
    padding: 0px 0px 0px 50px;

    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.title-container {
    width: 20%;
    padding: 0px;
    text-align: center;
}

#title {
    color: black !important;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none !important;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 30%;

    margin: 0px;
    padding: 10px 100px;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black !important;
    text-decoration: none !important;
}

@media only screen and (max-width: 600px) {
    .head-container {
        padding: 0px;
        margin: 50px 0px 20px 0px;
    }

    .nav-container {
        display: none;
    }

    .title-container {
        width: 60%;
    }

    #title {
        font-size: 25px;
    }
}