.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 20px 80px 0px 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
}

.title-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    padding: 0px;
    text-align: center;
}

#logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#title {
    font-size: 50px;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Kalam';
    font-weight: 300;
    color: black !important;
    text-decoration: none !important;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: black !important;
    text-decoration: none !important;
}

#nav-toggle {
    display: none;
}