<div id="about">
    <div class="navigation-container">
        <Header/>
    </div>
    <div class="introduction">
        <div class="about-introduction">
            I am a 22 year old fresh graduate keenly interested in learning the art of space
            making with good work ethics. For me best designs are outcome of thoughtful iterations. 
            I intend to unlearn and learn the basics of practise while contributing in a firm to built 
            living spaces.
        </div>
            <img class="about-photo" src="../../assets/about-photo.jpg">
    </div>

    <div class="filler">

    </div>
    <Footer/>
</div>