.navigation-container {
    display: flex;
    height: auto;

    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#banner {
    height: 85vh;

    display: flex;
    justify-content: left;
    align-items: center;

    margin: 0% 8%;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    
    background-image: url(../../assets/calli.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#intro {
    width: 50%;
    font-size: 24px;
}