<div id="home">
    <div class="navigation-container">
        <Header/>
    </div>
    <div id="banner">
        <div id="intro">
            Hi, I am a young architect with a passion for experential architecture having a strong belief that we have a magnificient past with strong roots, new links has to be formed to take it forward with modern interpretations, considering present requirements. 
        </div>
    </div>
    <Blogpost sequence="1"/>
    <Blogpost sequence="2"/>
    <Blogpost sequence="3"/>
    <Footer/>
</div>
