.navigation-container {
    display: flex;
    height: 20vh;

    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

#banner {
    height: 80vh;

    display: flex;
    justify-content: left;
    align-items: center;

    padding: 0% 10%;

    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    
    background-image: url(../../assets/calli.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#intro {
    width: 50%;

    font-size: 25px;
}