:root {
    --bg-header: #5d001e;
    --text-header: #e3e2df;
    --bg-sub-header: #5d001e;
    --text-sub-header: #e3e2df;
    --bg-footer: #5d001e;;
    --text-footer: #e3e2df;
    --bg-main: #e3e2df;
    --text-main: #5d001e;
    --bg-section: #1e000a;
    --text-section: #e3e2df;
}