:root {
    --bg-header: #5d001e;
    --text-header: hsl(45, 7%, 88%);
    --bg-sub-header: #e3e2df;
    --text-sub-header: #5d001e;
    --bg-footer: #5d001e;;
    --text-footer: #e3e2df;
    --bg-main: #e3e2df;
    --text-main: #5d001e;
    --bg-section: #5d001e;
    --text-section: #e3e2df;
    --bg-dialog: #e3e2df;
    --text-dialog: #5d001e;
}